@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Andada+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@charset "utf-8";


#AdminLogin{

    font-size: 30px;
    border-radius: 10%;
    margin-left: 65%;
    Text align: center ; 
    text-decoration: none ;
    font-family:Russo one;
    color:red;
    
}
h1{
    margin-top: 80px;
    text-align: center ;
    margin-left: 80px;
    font-family:Russo one;
    color: #757575;
    font-size: 350% ;
 
}
body{

    background-image: url(Background.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed; 
}